<html>
<head>
<title>Page Title</title>
</head>
<body>
  ….
  <nav>
  <a href="/">Home </a> |
  <a href="/posts">Posts page</a> |
  <a href="/addnewpost">Add new post</a>
  </nav>
  ….
 <footer class="footer">
  <p>© WAD 2021 </p>
 </footer>
  ….
 </body>
</html>