<div class="header">
    <div class="buttons">
      <div class="homeButton">
        <a>
          <img src="/img/sticky.png" alt="sticky" />
        </a>
      </div>

      <a href="/">Login</a>
      <a href="/posts">Posts</a>
    </div>
    <div>
      <div class="search-container">
        <form action="#">
          <input type="text" placeholder="Search.." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <div>
      <img src="/img/user.png" alt="user" />
    </div>
</div>