<html>
<head>
<title>Page Title</title>
</head>
<body>
  <div class="posts list">
    <h2>All posts</h2>
    <% posts.forEach(post => { %>
    <!-- <img :src="post.image" :alt="post.body" v-if="post.image" /> -->
    <p class="body">
    <%= post.body %>
    </p>
    <% }) %>
    </div>
 </body>
</html>